# Ignore Solidworks Temp Files:
~$*
# live backup files for TexMaker:
*.bak
# swap files for vim:
*.swp
# RStudio command history:
*.Rhistory
# some other RStudio history file:
*.Rapp.history
# R plots created by Jupyter:
Rplot*
# sync info for TexMaker:
*synctex.gz
# GIMP files (large):
*.xcf
# backup files from Gedit:
*~
#extraneous .dat files from DATCOM
*.dat
# Just ignore PDFs alltogether... That way it's NBD to keep generating them. Just deliberately add them when you need to.
*.pdf
*.ipynb_checkpoints


# ----- FROM THE "mme-capstone" MERGE -----
# Eagle backup files 
*#*

# Jekyll cruft
_site
drafts
images

# Dev cruft
sources
