# Ignore Solidworks Temp Files:
~$*
# live backup files for TexMaker:
*.bak
# swap files for vim:
*.swp
# RStudio command history:
*.Rhistory
# some other RStudio history file:
*.Rapp.history
# sync info for TexMaker:
*synctex.gz
# GIMP files (large):
*.xcf
# backup files from Gedit:
*~
